extends layout

block content
  .row
    //- .col-lg-8
    h1.text-xl-center Mum's Cafeteria: Since 1956
  //
    Carousel
    ==================================================
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    .carousel-inner(role='listbox')
      .carousel-item.active
        .parallax
        //- img.first-slide(src='/images/delicious-food.jpg', alt='First slide')
  // /.carousel
  //
    Marketing messaging and featurettes
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.marketing
    .row
      h1 Main Courses
    .row
    each plate in mainPlates
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
        h2= plate.name
        p= plate.price
    .row
      h1 Drinks
    .row
      each drink in drinks
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
          h2= drink.name
          p= drink.price
    .row
      h1 Desserts
    .row
      each dessert in desserts
        .col-lg-4
          img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', width='140', height='140')
          h2= dessert.name
          p= dessert.price
  
    footer
      p.float-xs-right
        a(href='#') Back to top
      p
        | © 2016 Mum's Cafeteria, Inc. · 
        a(href='#') Privacy
        |  · 
        a(href='#') Terms
  // /.container

  //- ul
    //- each plate in plates
      //- li=plate.name
  
